body {
	background-color: #87CEEB;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 20px;
}

.rsvp[type=text] {
		width: 30%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border-radius: 4px;
		border: 2px solid red;
}